{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rex Autos | Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href=" {% static "autos/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href=" {% static "autos/css/select2.min.css" %}">
    <link rel="stylesheet" href=" {% static "autos/css/style.css" %}">
</head>

<body>
    {% csrf_token %}
    {% include "autos/components/navbar.html" %}

    <div class="container-fluid">
        <div class="row">

            {% include "autos/components/sidebar.html" %}

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                {% block content %}
                {% include "autos/pages/dashboard.html" %}
                {% include "autos/pages/account-settings.html" %}
                {% include "autos/pages/noted.html" %}
                {% include "autos/pages/notel.html" %}
                {% include "autos/pages/user-view.html" %}

                {% if not user.is_staff and not user.is_superuser %}
                {% include "autos/pages/new-user.html" %}
                {% endif %}

                {% if user.is_superuser %}
                {% include "autos/pages/site-settings.html" %}
                {% include "autos/pages/send-note.html" %}
                {% include "autos/pages/user-management.html" %}
                {% endif %}

                {% if user.is_staff or user.is_superuser %}
                {% include "autos/pages/new-user-admin.html" %}
                {% endif %}

                {% endblock content %}
            </main>
        </div>
    </div>
    {% include "autos/components/modal.html" %}
</body>
<script type="text/javascript" src="{% static "autos/js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "autos/js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "autos/js/select2.min.js" %}"></script>
<script type="text/javascript" src="{% static "autos/js/feather.min.js" %}"></script>
<script type="text/javascript" src="{% static "autos/js/holder.min.js" %}"></script>
<script type="text/javascript" src="{% static "autos/js/jquery.validate.min.js" %}"></script>
<script type="text/javascript" src="{% static "autos/js/script.js" %}"></script>

</html>