<div class="page account-settings">
    <div class="card h-50 w-75 px-5 pt-5 my-5 mx-auto bg-light">
        <div class="card-body">
            <h2 class="card-title">Account settings</h2>
            <form id="account-settings-form" method="POST" data-bait="main:account-settings-form~newUser~renderModal" data-traps="main:submitForm">
                <div class="form-group">
                    <label for="user">User Name</label>
                    <input type="text" class="form-control" id="user" placeholder="User Name" value="{{request.user.username}}" readonly>
                </div>

                <div class="form-group">
                    <label for="first">Last Name</label>
                    <input type="text" class="form-control" id="first" name="firstname" value="{{request.user.first_name}}" placeholder="First Name">
                </div>

                <div class="form-group">
                    <label for="last">First Name</label>
                    <input type="text" class="form-control" id="last" name="lastname" value="{{request.user.last_name}}" placeholder="Last Name">
                </div>

                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" value="{{request.user.email}}">
                </div>

                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number" value="{{request.user.account.phone}}">
                </div>

                <div class="form-group">
                    <label for="joined">Date Joined</label>
                    <input type="text" class="form-control" id="joined" placeholder="Date Joined" value="{{request.user.date_joined}}" readonly>
                </div>

                <div class="form-group">
                    <label for="addedby">Added By</label>
                    <input type="text" class="form-control" id="addedby" placeholder="Added By" value="{{request.user.account.added_by.username}}" readonly>
                </div>

                <div class="form-group">
                    <label for="addedto">Added To</label>
                    <input type="text" class="form-control" id="addedto" placeholder="Added To" value="{{request.user.added_to.username}}" readonly>
                </div>

                <button class="btn btn-primary float-right bait" data-bait="main:account-settings-form~editUser~renderModal" data-traps="main:submitForm">Save <span data-feather="save"></span></button>
                <button class="btn btn-secondary float-right mr-3 bait" data-bait="main:" data-traps="main:goBack"><span data-feather="arrow-left"></span> Back</button>
            </form>
        </div>
    </div>
</div>
