<div class="page dashboard">
    {% include "autos/components/status.html" %}
    <!-- Tree View -->
    <br><br>
    {% include "autos/components/simple-table.html" %}
    <br><br>
    {% include "autos/components/notel.html" %}
</div>
