<div class="page new-user">
    <div class="card h-50 w-75 px-5 pt-5 my-5 mx-auto bg-light">
        <div class="card-body">
            <h2 class="card-title">Register Member</h2>
            <form id="new-user-form" method="POST">

                {% include "autos/pages/new-user-part.html" %}
                <input type="hidden" name="addedto" value="{{request.user.pk}}">

                <button class="btn btn-primary float-right bait" data-bait="main:new-user-form~newUser~renderModal" data-traps="main:submitForm">Save <span data-feather="save"></span></button>
                <button class="btn btn-secondary float-right mr-3 bait" data-bait="main:" data-traps="main:goBack"><span data-feather="arrow-left"></span> Back</button>
            </form>
        </div>
    </div>
</div>