<div class="form-group">
    <label for="user">User Name</label>
    <input type="text" class="form-control" id="user" name="username" placeholder="User Name">
</div>

<div class="form-group">
    <label for="first">First Name</label>
    <input type="text" class="form-control" id="first" name="firstname" placeholder="First Name">
</div>

<div class="form-group">
    <label for="last">Last Name</label>
    <input type="text" class="form-control" id="last" name="lastname" placeholder="Last Name">
</div>

<div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
</div>

<div class="form-group">
    <label for="phone">Phone Number</label>
    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number">
</div>