<div class="page send-note">
    <div class="card h-50 w-75 px-5 pt-5 my-5 mx-auto bg-light">
        <div class="card-body">
            <h2 class="card-title">Notes</h2>
            <form>
                <div class="form-group row">
                    <label class="col-md-2 col-sm-3 col-xs-4 col-form-label">To:</label>
                    <div class="col-md-10 col-sm-9 col-xs-8">
                        <select id="js-data-user-ajax" name="receipients" class="form-control">
                            <option value="All">All</option>
                        </select>
                        <small id="toHelp" class="form-text text-muted">Type name of users you want to send note to or
                            type <span style="color:red">All</span> to send to everyone.</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="msg" class="col-md-2 col-sm-3 col-xs-4 col-form-label">Msg:</label>
                    <div class="col-md-10 col-sm-9 col-xs-8">
                        <textarea name="msg" class="form-control" id="msg" cols="30" rows="5"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary float-right bait" data-bait="main:" data-traps="main:goBack">Send
                    <span data-feather="send"></span></button>
                <button type="submit" class="btn btn-secondary float-right mr-3 bait" data-bait="main:" data-traps="main:goBack"><span
                        data-feather="arrow-left"></span> Back</button>
            </form>
        </div>
    </div>
</div>