<div class="page site-settings">
    <div class="card h-50 w-75 px-5 pt-5 my-5 mx-auto bg-light">
        <div class="card-body">
            <h2 class="card-title">Site settings</h2>
            <form id="site-settings-form">
                <div class="form-group">
                    <label for="property00">Property00</label>
                    <input type="text" class="form-control" id="property00" name="property00" placeholder="value00">
                </div>
                <div class="form-group">
                    <label for="property01">Property01</label>
                    <input type="text" class="form-control" id="property01" name="property01" placeholder="value01">
                </div>
                <div class="form-group">
                    <label for="property0">Property02</label>
                    <input type="text" class="form-control" id="property02" name="property02" placeholder="value02">
                </div>
                <div class="form-group">
                    <label for="property03">Property03</label>
                    <input type="text" class="form-control" id="property03" name="property03" placeholder="value03">
                </div>
                <button class="btn btn-primary float-right bait" data-bait="main:" data-traps="main:goBack">Save <span data-feather="save"></span></button>
                <button class="btn btn-secondary float-right mr-3 bait" data-bait="main:" data-traps="main:goBack"><span data-feather="arrow-left"></span> Back</button>
            </form>
        </div>
    </div>
</div>
