{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rex Autos | {% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href=" {% static "autos/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href=" {% static "autos/css/signin.css" %}">
</head>
<body class="text-center">
    {% block content %}

    {% endblock content %}
</body>
	<script type="text/javascript" src="{% static "autos/js/jquery-slim.min.js" %}"></script>
    <script type="text/javascript" src="{% static "autos/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "autos/js/holder.min.js" %}"></script>
</html>
