{% extends "registration/base.html" %}

{% block title %}Superuser{% endblock title %}

{% block content %}

<form class="form-signin" method="post" action="{% url 'super' %}">
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.errors %}

        {% endfor %}
    </div>
    {% endif %}
    {% csrf_token %}

    <div class="card bg-light">
        <div class="card-body">
            <img data-src="holder.js/72x72?text=R&amp;bg=007bff&amp;fg=ffffff&amp;size=40" alt="72x72" class="mb-4 rounded"
                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_166328f5a6e%20text%20%7B%20fill%3A%23e83e8c%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_166328f5a6e%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23e83e8c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.046875%22%20y%3D%2217.2%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                data-holder-rendered="true" style="width: 72px; height: 72px;">
            {% include "autos/pages/new-user-part.html" %}
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
                    required>
            </div>
            <div class="form-group">
                <label for="inputPassword">Confirm Password</label>
                <input type="password" name="confirm" id="inputPassword" class="form-control" placeholder="Password"
                    required>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            <p class="mt-5 mb-3 text-muted">&copy; Rex Autos</p>
        </div>
    </div>
</form>

{% endblock %}