{% extends "registration/base.html" %}

{% block title %}Super Registration Successfull{% endblock title %}

{% block content %}

	<div class="alert alert-success mx-auto" role="alert">
        You have successfully been registered, <a href="{% url 'login' %}">login</a> with the new one.
	</div>

{% endblock %}