{% extends "registration/base.html" %}

{% block title %}Password Changed{% endblock title %}

{% block content %}

	<div class="alert alert-success mx-auto" role="alert">
        You have successfully changed your Password, <a href="{% url 'login' %}">login</a> with the new one.
	</div>

{% endblock %}