{% extends "registration/base.html" %}

{% block title %}Email Sent{% endblock title %}

{% block content %}

        <div class="alert alert-info mx-auto" role="alert">
        Password reset link has been sent to your email,
        if you haven't received any email you can <a href="{% url 'password_reset' %}">send it again</a>.
	</div>
{% endblock %}