{% load autos_tags %}
<h2>All registered members</h2>
<div class="table-responsive">
    <table class="table table-striped table-hover users">
        <caption>List some summary data about the user's table</caption>
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Email Address</th>
                <th>Phone Number</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>

            {% all_members as members%}

            {% for member in members %}
            <tr class="bait" data-bait="main:user-view|pre:|post:viewUser~{{member.id}}~renderUserView" data-traps="main:showPage|pre:deLink|post:renderPage">
                <td>{{member.id}}</td>
                <td>{{member.username}}</td>
                <td>{{member.email}}</td>
                <td>{{member.account.phone}}</td>
                <td>{{member.account.status}}</td>
            </tr>
            {% empty %}

            {% endfor %}
        </tbody>
    </table>
</div>