<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Hello, {{request.user.username}}</a>
    <ul class="nav justify-content-end" id="topnav">
        <li class="nav-item">
            <a class="nav-link dashboard bait disabled" data-bait="main:dashboard|post:dashboard" data-traps="main:showPage|post:setActive"
                href="#">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link notifications bait" data-bait="main:notel|post:notifications" data-traps="main:showPage|post:setActive"
                href="#">Notifications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link add-person bait" data-bait="main:new-user|post:add-person" data-traps="main:showPage|post:setActive"
                href="#">Add Person</a>
        </li>
        <li class="nav-item">
            <a class="nav-link account-settings bait" data-bait="main:account-settings|post:account-settings"
                data-traps="main:showPage|post:setActive" href="#">Account Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
    </ul>
</nav>