<div class="card h-50 w-75 px-5 pt-5 my-5 mx-auto bg-light">
    <div class="card-body">
        <h2 class="card-title mb-5">Note header</h2>
        <blockquote class="blockquote">Note body</blockquote>
        <div class="mt-5 pt-5">
            <button type="button" class="btn btn-secondary mr-3 bait" data-bait="main:" data-traps="main:goBack">Close <span data-feather="x"></span></button>
            <button type="button" class="btn btn-primary bait" data-bait="main:" data-traps="main:goBack">Action <span data-feather="arrow-right"></span></button>
        </div>
    </div>
</div>