<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky" id="sidenav">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Menu</span>
            <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link dashboard bait active" data-bait="main:dashboard|post:dashboard" data-traps="main:showPage|post:setActive"
                    href="#">
                    <span data-feather="home"></span>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link notifications bait" data-bait="main:notel|post:notifications" data-traps="main:showPage|post:setActive"
                    href="#">
                    <span data-feather="bell"></span>
                    Notifications
                    <span class="badge badge-pill bg-white align-text-bottom">27</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link add-person bait" data-bait="main:new-user|post:add-person" data-traps="main:showPage|post:setActive"
                    href="#">
                    <span data-feather="user-plus"></span>
                    Add Person
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link account-settings bait" data-bait="main:account-settings|post:account-settings"
                    data-traps="main:showPage|post:setActive" href="#">
                    <span data-feather="settings"></span>
                    Account Settings
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}"">
          <span data-feather="log-out"></span>
                    Logout
                </a>
            </li>
        </ul>


        {% if user.is_superuser %}
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Admin Only</span>
            <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link user-management bait" data-bait="main:user-management|post:user-management"
                    data-traps="main:showPage|post:setActive" href="#">
                    <span data-feather="briefcase"></span>
                    User Management
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link send-notifications bait" data-bait="main:send-note|post:send-notifications"
                    data-traps="main:showPage|post:setActive" href="#">
                    <span data-feather="message-square"></span>
                    Send Notifications
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link site-settings bait" data-bait="main:site-settings|post:site-settings" data-traps="main:showPage|post:setActive"
                    href="#">
                    <span data-feather="cpu"></span>
                    Site Settings
                </a>
            </li>
        </ul>
        {% endif %}

    </div>
</nav>